* {
	margin: 0;
	padding: 0;
}
.info-title {
	display: block;
	background: #50627F;
	color: #fff;
	text-align: center;
	height: 24px;
	line-height: 22px;
	border-radius: 4px;
	padding: 0px 5px;
}
.info-cat1 {
	display: block;
	background: #50627F;
	color: #fff;
	text-align: center;
	height: 24px;
	line-height: 22px;
	border-radius: 4px;
	padding: 0px 5px;
}
.info-cat2 {
	display: block;
	background: #E85C0D;
	color: #fff;
	text-align: center;
	height: 24px;
	line-height: 22px;
	border-radius: 4px;
	padding: 0px 5px;
}
.invisible {
	display: none;
}
#loading-indicator {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.spinner {
    border: 4px solid #f3f3f3; /* Light gray */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}